


/*html { font-size: 1.5vw; }*/

* {
	margin: 0;
	padding: 0;
	transition: 0.05s ease-in;
	/*DIMENSIONS*/
	--dim1: 17vw;
	--dim2: 1vw;
}

/*LIBRARY*/
#title {
	margin: auto;
	flex-direction: column;
	height: calc(2 * var(--dim1));
}
#title > h1 {
	font-family: Roboto, sans-serif;
	font-size: 2rem;
}

#title > h2 {
	font-family: Roboto, sans-serif;
	font-size: 1rem;
}

#title > p {
	font-family: Heebo, sans-serif;
	font-size: 2vw;
}
.calendar-frame {
	padding: var(--dim2);
	width: 84vw;
	margin: auto;
	flex-wrap: wrap;
}
.day-frame {
	margin: var(--dim2);
	height: var(--dim1);
	width: var(--dim1);
}
.day-number {
	font-family: Roboto, sans-serif;
	font-size: 4 rem;
	text-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
}
.day-label {
	width: var(--dim1);
	position: absolute;
	color: rgba(255, 255, 255, 0.994);
	background-color: rgba(0, 0, 0, 0);
	font-size: 2 rem;
	font-family: Heebo, sans-serif;
}

.day-label a {
	
	color: rgba(255, 255, 255, 0);
	
	
}

.day-label .btn a {
	
	color: rgba(255, 255, 255, 0);
	vertical-align: middle;
	
}

.real:hover > .day-label a {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.5);
}
.real {
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
.real:hover {
	transform: scale(1.1, 1.1);
}
.real:hover > .day-number {
	color: rgba(0, 0, 0, 0);
	text-shadow: 0 0 10vw rgba(0, 0, 0, 0);
}
.center {
	display: flex;
	align-items: left;
	justify-content: center;
}

