/*
unité en vw : 
100vw = 100% de la largeur de la fenêtre d'affichage 1vw = 1% de la largeur de la fenêtre d'affichage 
100vh = 100% de la hauteur de la fenêtre d'affichage 1vh = 1% de la hauteur de la fenêtre
*/


/*html { font-size: 1.5vw; }*/

* {
	margin: 0;
	padding: 0;
	transition: 0.05s ease-in;
	/*DIMENSIONS*/
	--dim1: 17vw;
	--dim2: 1vw;
}

/*LIBRARY*/
#title {
	margin: auto;
	flex-direction: column;
	height: calc(2 * var(--dim1));
}
#title > h1 {
	font-family: Roboto, sans-serif;
	font-size: 2rem;
}

#title > h2 {
	font-family: Roboto, sans-serif;
	font-size: 1rem;
}

#title > p {
	font-family: Heebo, sans-serif;
	font-size: 2vw;
}
.calendar-frame {
	padding: var(--dim2);
	width: 100vw;
	margin: auto;
	flex-wrap: wrap;
}
.day-frame {
	margin: var(--dim2);
	height: var(--dim1);
	width: var(--dim1);
}
.day-number {
	font-family: Roboto, sans-serif;
	font-size: 4 rem;
	text-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
}
.day-label {
	width: var(--dim1);
	position: absolute;
	color: rgba(255, 255, 255, 0.994);
	background-color: rgba(0, 0, 0, 0);
	font-size: 2 rem;
	font-family: Heebo, sans-serif;
}

.day-label a {
	
	color: rgba(255, 255, 255, 0);
	
	
}

.day-label .btn a {
	
	color: rgba(255, 255, 255, 0);
	vertical-align: middle;
	
}

.real:hover > .day-label a {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.5);
}
.real {
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
.real:hover {
	transform: scale(1.1, 1.1);
}
.real:hover > .day-number {
	color: rgba(0, 0, 0, 0);
	text-shadow: 0 0 10vw rgba(0, 0, 0, 0);
}


/*Palette de couleur 
https://www.palettedecouleur.net/?utm_source=Graphiste&utm_medium=blog&utm_campaign=outils-gratuits-palette/
#317AC1 blue
#E1A624 orange
#384454 bluedark
#D4D3DC grey
#AD956B brown

*/

/*couleur symbole de l'eau*/
.category1{
	background-color: #317AC1;
}
/*couleur symbole de l'énergie*/
.category2{
	background-color: #E1A624;
}
/*couleur symbole de la mobilité*/
.category3{
	background-color: #384454;
}

/*couleur symbole de la */
.category4{
	background-color: #D4D3DC;
}

/*couleur symbole de la */
.category5{
	background-color: #AD956B;
}

.center {
	display: flex;
	align-items: left;
	justify-content: center;
}

